@import "../maincolors";

.user-search-top {
  position: relative;
  margin-left: 1.5rem !important;
}
.user-search-top .search-input {
  position: relative;
}

.user-search-top .date {
  display: flex;
  gap: 6px;
  justify-content: center;
  align-items: center;
  position: relative;
}

.user-search-top .date #date-icon {
  position: absolute;
  right: 2rem;
  color: $secondary-blue-100;
}

.user-search-top .ust-inner {
  display: flex;
  align-items: center;
  gap: 0.8rem;

  input[type="checkbox"] {
    transform: scale(1.5);
  }
}

.user-search-top .date input {
  border-radius: 80px;
  border: 1px solid $secondary-blue-100;
  height: 2.2rem;
  outline: none;
  padding: 0 0.8rem;
  width: 100%;
}

.user-search-top .date input::placeholder {
  color: $secondary-blue-100;
  font-weight: 500;
  font-size: 14px;
}

.user-search-top .user-select,
.user-search-top .company,
.user-search-top .form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.user-search-top .option-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-search-top .option-icon > * {
  font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
  .user-search-top .user-select,
  .user-search-top .company,
  .user-search-top .form {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .user-search-top .date {
    flex-direction: column;
    align-items: flex-start;
  }

  .user-search-top .date #date-icon {
    right: 2rem;
    top: 50%;
    bottom: 0;
    margin: auto;
  }
}

@media screen and (min-width: 1910px) {
  .user-search-top {
    margin-left: 2rem !important;
  }
}
