@import "../maincolors";

.filter-tray {
  width: 198px;
  height: 38px;
  padding: 1rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $white;
  position: absolute;
  top: 2.2rem;
  left: 8rem;
  z-index: 99999;
}

.filter-tray span:nth-child(1) {
  color: $neutral-60;
  font-size: 14px;
  font-weight: 500;
}

.filter-tray span:nth-child(2),
.filter-tray span:nth-child(3) {
  color: $secondary-blue-100;
  font-size: 1.1rem;
  cursor: pointer;
}

.filter-tray span:nth-child(4) {
  color: $secondary-blue-100;
  cursor: pointer;
  font-size: 0.8rem;
}
