.search-content-wrapper{
    width: 100%;
    margin-top: 16px;
}

.search-content-wrapper .content-inner{
    display: flex;
    flex-direction: column;
    margin-bottom: 17px;
    position: relative;
}

.search-content-wrapper .title{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: var(--blue);
}

.search-content-wrapper .sub-title{
    max-width: 97%;
}

.sub-title span:nth-child(1){
    color: var(--grayText);
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
}

.sub-title span:nth-child(2){
    margin-right: 3px;
    font-style: normal;
    font-size: 14px;
    line-height: 22px;
    color: var(--grayText);
}

.search-content-wrapper .time span{
    font-style: italic;
    font-size: 14px;
    line-height: 22px;
    color: var(--grayText);
}

.search-content-wrapper .star-icon{
    position: absolute;
    right: 0%;
    top: 26%;
    color: var(--blue);
    font-size: 1.1rem;
}