.checked-all .right-side .header{
    display: flex;
    justify-content: space-between;
}

.checked-all .header span:nth-child(1){
    color: #737779;
}

.checked-all .header span:nth-child(2)>*{
    color: #2C52BF !important;
    cursor: pointer;
    font-size: .9rem;
}

.checked-all .right-side .d-flex{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: #EAEEF9;
    padding: .5rem 1rem;
    border-radius: 2px;
}

.checked-all .right-side .d-flex>div:nth-child(1){
    display: flex;
    gap: 15px;
}

.checked-all .right-side .d-flex .icon{
    cursor: pointer;
}

.checked-all .right-side .d-flex>div:nth-child(1) span{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #151C1F;
}

.checked-all .table tr td:nth-child(1){
    font-weight: 500;
    font-size: .8rem;
}